* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #000;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.cursor {
  cursor: pointer;
}

.react-horizontal-scrolling-menu--scroll-container::-webkit-scrollbar {
  display: none;
}

.react-horizontal-scrolling-menu--scroll-container {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* carousel */

.carousel {
  /* height: 220px; */
}
.carousel .card-container {
  height: 300px;
  position: relative;
  overflow: hidden;
}
.carousel .card-container .carousel-card {
  height: 100%;
  width: 33.3%;
  transition: all 1s;
  position: absolute;
  opacity: 0.8;
  transform: scale(0.8);
  z-index: 998;
  cursor: pointer;
  user-select: none;
}
.carousel .card-container .carousel-card img {
  height: 100%;
  width: 100%;
  border-radius: 5px;
}
.carousel .rects {
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.carousel .rects .rect {
  height: 2px;
  width: 20px;
  background-color: #ddd;
  margin-right: 8px;
  cursor: pointer;
}
.carousel .rects .active {
  background-color: #c62f2f;
}
@media only screen and (max-width: 768px) {
  .carousel .card-container .carousel-card {
    width: 100%;
    left: unset !important;
    transform: scale(0.8) !important;
  }
}

/* loader starts */
.loader-div {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #333;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader {
  position: relative;
  width: 10vw;
  height: 5vw;
  padding: 1.5vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader span {
  position: absolute;
  height: 0.8vw;
  width: 0.8vw;
  border-radius: 50%;
  background-color: #ff0;
}

.loader span:nth-child(1) {
  animation: loading-dotsA 0.5s infinite linear;
}

.loader span:nth-child(2) {
  animation: loading-dotsB 0.5s infinite linear;
}

@keyframes loading-dotsA {
  0% {
    transform: none;
  }
  25% {
    transform: translateX(2vw);
  }
  50% {
    transform: none;
  }
  75% {
    transform: translateY(2vw);
  }
  100% {
    transform: none;
  }
}

@keyframes loading-dotsB {
  0% {
    transform: none;
  }
  25% {
    transform: translateX(-2vw);
  }
  50% {
    transform: none;
  }
  75% {
    transform: translateY(-2vw);
  }
  100% {
    transform: none;
  }
}
/* loader ends */

.custom-table {
  background: #ffffff;
  box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.07);
  width: 100%;
  border-collapse: collapse;
  /* display: block; */
  overflow-x: auto;
  margin: 20px 0px;
  /* white-space: nowrap;
	position: relative; */
  color: rgba(0, 0, 0, 0.5);
}
.t-head {
  background: #e8f3f9;
}

td,
th {
  margin: 0px;
  text-transform: capitalize;
  text-align: center;
  max-width: 240px;
  padding-right: 15px !important;
}
/* table{
	table-layout: fixed;
  } */
td {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  max-width: 240px;
  line-height: 17px;
  padding: 18px 15px;
  /* white-space: nowrap;
  overflow: hidden;
   text-overflow: ellipsis; */
}
th {
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 18px;
  padding: 12px 0px;
  color: #006699;
}

.clip_button,
.disabled {
  margin-right: 0.5px;
  border: none;
  background: none;
}
.disabled {
  background: #dddddd;
}
.table_name {
  max-width: 190px !important;
  text-align: left;
  word-wrap: break-word;
}
.table_date {
  min-width: 100px;
  max-width: 120px;
}
.table_description {
  text-align: left;
  max-width: 180px;
  text-overflow: ellipsis;
  word-wrap: break-word;
}
.table_action {
  min-width: 180px;
}
.table-enable {
  max-width: 70px;
}
.table_device {
  min-width: 120px;
}
.table_category {
  max-width: 80px;
}

input {
  background: #f3f3f3;
  border-radius: 128px;
  border: 0px;
  padding: 12px 20px;
  outline: none;
  width: -webkit-fill-available;
  font-weight: 500;
  font-size: 16px;
  display: block;
  line-height: 22px;
  color: #000;
  margin: 10px 0;
}
input::placeholder,
::-webkit-input-placeholder {
  color: #bcbcbc;
}
.multiple-value-text-input > label {
  display: block;
  font-weight: 500;
  text-align: left;
  font-size: 16px;
  line-height: 22px;
  color: #202020;
  margin-bottom: 10px;
}
.multiple-value-text-input-item-container >p{
	margin: 15px 0!important;
}